<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Employee</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="bg-light">

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="bg-primary text-white text-center py-2 rounded-top">
                <h2 class="mb-0 fs-4"
                    th:text="${newEmployee.id} != null ? 'Update Employee' : 'New Employee'">
                    New Employee
                </h2>
            </div>
            <form th:action="@{/employee/save}" th:object="${newEmployee}" method="post" class="border p-4 rounded bg-white shadow-sm">

                <input type="hidden" id="employeeId" th:field="*{id}">

                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" id="firstName" th:field="*{firstName}" class="form-control" th:classappend="${#fields.hasErrors('firstName')} ? ' is-invalid' : ''">
                    <div class="invalid-feedback" th:errors="*{firstName}">Firstname Error</div>
                </div>

                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" id="lastName" th:field="*{lastName}" class="form-control" th:classappend="${#fields.hasErrors('lastName')} ? ' is-invalid' : ''">
                    <div class="invalid-feedback" th:errors="*{lastName}">Lastname Error</div>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" id="email" th:field="*{email}" class="form-control" th:classappend="${#fields.hasErrors('email')} ? ' is-invalid' : ''">
                    <div class="invalid-feedback" th:errors="*{email}">Email Error</div>
                </div>

                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control" th:classappend="${#fields.hasErrors('phoneNumber')} ? ' is-invalid' : ''">
                    <div class="invalid-feedback" th:errors="*{phoneNumber}">Phone Number Error</div>
                </div>

                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select id="status" th:field="*{status}" class="form-select">
                        <option th:each="s : ${status}"
                                th:value="${s}"
                                th:text="${s}">
                        </option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="jobId" class="form-label">Job ID</label>
                    <input type="number" id="jobId" th:field="*{jobId}" class="form-control" th:classappend="${#fields.hasErrors('jobId')} ? ' is-invalid' : ''">
                    <div class="invalid-feedback" th:errors="*{jobId}">Job Id Error</div>
                </div>

                <div class="mb-3">
                    <label for="departmentId" class="form-label">Department ID</label>
                    <input type="number" id="departmentId" th:field="*{departmentId}" class="form-control" th:classappend="${#fields.hasErrors('departmentId')} ? ' is-invalid' : ''">
                    <div class="invalid-feedback" th:errors="*{departmentId}">Department Id Error</div>
                </div>

                <div class="mb-3">
                    <label for="hireDate" class="form-label">Hire Date</label>
                    <input type="date" id="hireDate" th:field="*{hireDate}" class="form-control" th:classappend="${#fields.hasErrors('hireDate')} ? ' is-invalid' : ''">
                    <div class="invalid-feedback" th:errors="*{hireDate}">Hire Date Error</div>
                </div>

                <div class="text-center mb-3 pt-4">
                    <button type="submit" class="btn btn-success px-4">Save</button>
                    <a th:href="@{/employee/management}" class="btn btn-secondary px-4 ms-2">Cancel</a>
                </div>

            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
